{
  "Entries": [
    {
      "RequestUri": "/livy/sessions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kind\": \"spark\"\r\n}",
      "RequestHeaders": {
        "X-Requested-By": [
          "admin"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/sessions/29"
        ],
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": 29,\r\n  \"appId\": null,\r\n  \"owner\": null,\r\n  \"proxyUser\": null,\r\n  \"state\": \"starting\",\r\n  \"kind\": \"spark\",\r\n  \"appInfo\": {\r\n    \"driverLogUrl\": null,\r\n    \"sparkUiUrl\": null\r\n  },\r\n  \"log\": [\r\n    \"stdout: \",\r\n    \"\\nstderr: \",\r\n    \"\\nYARN Diagnostics: \"\r\n  ]\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/livy/sessions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"from\": 0,\r\n  \"total\": 1,\r\n  \"sessions\": [\r\n    {\r\n      \"id\": 29,\r\n      \"appId\": null,\r\n      \"owner\": null,\r\n      \"proxyUser\": null,\r\n      \"state\": \"starting\",\r\n      \"kind\": \"spark\",\r\n      \"appInfo\": {\r\n        \"driverLogUrl\": null,\r\n        \"sparkUiUrl\": null\r\n      },\r\n      \"log\": [\r\n        \"stdout: \",\r\n        \"\\nstderr: \",\r\n        \"\\nYARN Diagnostics: \"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/livy/sessions/29",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "X-Requested-By": [
          "admin"
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"msg\": \"deleted\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "964c10bb-8a6c-43bc-83d3-6b318c6c7305"
  }
}