{
  "Entries": [
    {
      "RequestUri": "/livy/batches",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"file\": \"wasbs:///example/jars/spark-examples.jar\",\r\n  \"className\": \"org.apache.spark.examples.SparkPi\",\r\n  \"args\": [\r\n    \"10\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "X-Requested-By": [
          "admin"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/batches/40"
        ],
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": 40,\r\n  \"state\": \"starting\",\r\n  \"appId\": null,\r\n  \"appInfo\": {\r\n    \"driverLogUrl\": null,\r\n    \"sparkUiUrl\": null\r\n  },\r\n  \"log\": [\r\n    \"stdout: \",\r\n    \"\\nstderr: \",\r\n    \"\\nYARN Diagnostics: \"\r\n  ]\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/livy/batches",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"from\": 0,\r\n  \"total\": 3,\r\n  \"sessions\": [\r\n    {\r\n      \"id\": 38,\r\n      \"state\": \"success\",\r\n      \"appId\": \"application_1588970089921_0062\",\r\n      \"appInfo\": {\r\n        \"driverLogUrl\": \"http://wn3-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:30060/node/containerlogs/container_e02_1588970089921_0062_01_000001/livy\",\r\n        \"sparkUiUrl\": \"https://shangwei-hdi-cmk-ps.azurehdinsight.net/yarnui/hn/proxy/application_1588970089921_0062/\"\r\n      },\r\n      \"log\": [\r\n        \"\\t qu[...]
[...]
    {
      "RequestUri": "/livy/batches/40",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "X-Requested-By": [
          "admin"
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"msg\": \"deleted\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "964c10bb-8a6c-43bc-83d3-6b318c6c7305"
  }
}