{
  "Entries": [
    {
      "RequestUri": "/livy/sessions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kind\": \"spark\"\r\n}",
      "RequestHeaders": {
        "X-Requested-By": [
          "admin"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/sessions/10"
        ],
        "x-ms-hdi-active": [
          "hn1-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn1-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": 10,\r\n  \"appId\": null,\r\n  \"owner\": null,\r\n  \"proxyUser\": null,\r\n  \"state\": \"starting\",\r\n  \"kind\": \"spark\",\r\n  \"appInfo\": {\r\n    \"driverLogUrl\": null,\r\n    \"sparkUiUrl\": null\r\n  },\r\n  \"log\": [\r\n    \"stdout: \",\r\n    \"\\nstderr: \",\r\n    \"\\nYARN Diagnostics: \"\r\n  ]\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/livy/sessions/10/statements",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn1-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn1-shangw.4jhwm2oxfmoehnhvt2gwwtriqb.bx.internal.cloudapp.net:8998"
        ],
        "Content-Type": [
          "application/json; charset=UTF-8"
        ]
      },
      "ResponseBody": "\"requirement failed: Session isn't active.\"",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "964c10bb-8a6c-43bc-83d3-6b318c6c7305"
  }
}